.navbar{
    background-color: black;
    height: 10vh;
    position: relative;
    top:0vh
}
.items{
    display: flex;
    font-size: 30px;
    font-family: cursive;
    margin-left: 40vw;
    z-index: 10;
}
.items a{
    margin-top: -70px;
    margin-left: 7.5rem;
    align-items: center;
    text-decoration: none;
    text-align: center;

}
.items a:hover{
color:aqua;
}

.logo {
    width: 200px;
    height: 70px;
    
    margin-left: 20px;

}

.logo img {
    height: 100%;
    width: 100%;
    margin-top: 10px;
}

.items a{
    margin-bottom: 20px;
}