.current{
    border: 3px solid black;
    border-radius: 10px;
    height: 5vh;
    width: 10vw;
    text-align: center;
   position: relative;
   
    font-size: 15px;
    
    background-color: transparent;
     font-family:fantasy;
    font-weight: 100;
}
.current h7{
    font-size: 24px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(50, 12, 241);
    font-weight: 900
}