.trade{
    border: 3px solid black;
    border-radius: 10px;
    height: 23vh;
    width: 10vw;
    text-align: center;
   position: relative;
 top: 2vh;
    font-size: 20px;
  
    background-color: transparent;
 
}