body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.graphorder{
  display: flex;
  background-color: rgb(167, 159, 202);
 height: 38vh; 
 position: relative;
 top: 10vh;
}
.bottom{
  display: flex;
  display: flex;
  background-color: rgb(167, 159, 202);
 height: 44vh; 
 position: relative;
 top: 15vh;
}
.currenttrade{
display: flex;
flex-direction: column;
 
position: relative;
left: 10vw;
height: 35vh;
top: 5vh;
width: 15vw;
}